#feedback_comments {
    @media (max-width: 800px) {
        display: none;
    }
}
.testimonials_video {
    position: relative;
    min-height: 600px;

    .media_buttons {
        position: absolute;
        bottom: 66px;
        margin-top: -20px;
        left: 50%;
        margin-left: -20px;

        @media (max-width:1400px) {
            bottom: 150px;
        }

        button {
            background: white;
            border-radius: 4px;
            width: 40px;
            height: 40px;
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 92%;
        height: 550px!important;
        border-radius: 42px;

        @media (max-width:1400px) {
            height: 475px!important;
            width: 98%!important;
        }
    }

    &:hover {
        cursor: pointer;
    }

    @media (max-width: 850px) {
        min-height: 900px;
    }
}
.testimonials_video_row {
    @media (max-width: 850px) {
        .col-md-3 {
            display: none;
        }
        .col-md-3:first-child {
            display: block;
        }
    }
}
.promo__hero {
    background: var(--secondary);
    padding: 4rem 0;

    h1 {
        color: #fff;
        font-size: 2rem;
        text-align: center;
        font-weight: 800;
    }

    p {
        color: #fff;
        font-size: 1rem;
        text-align: center;
    }
}
.card_product_list {

    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;

    text-align: center;

    .card_product_head {
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    img {
        max-height: 80px;
        object-fit: cover;
    }

    a {
        background: var(--primary);
        color: var(--secondary);
        border-radius: 30px;
        font-size: 12px;

        padding: 0.5rem 2rem;
    }

    h5 {
        font-size: 14px;
    }

    p {
        font-size: 10px;
    }
}
.row__flex {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    // flex-wrap: wrap;
    gap: 2rem;
}
.avaliacoes__promo {
    background: var(--secondary);
    padding: 4rem 0;

    h2,p,strong {
        color: #fff;
    }
}
.main_hero_button {
    background: var(--secondary);
    color: #fff;

    border: 0;
    border-radius: 30px;

    padding: 1rem 2rem;
    transition: .6s;

    &:hover {
        background: var(--primary);
    }
}